report/**
!report/report.tex
!report/udesa_logo.png
!report/cond_2.png
!report/cond_3.png
!report/cond_4.png
!report/noise_v_4.png
!report/noise_v_25.png
!report/noise_v_100.png
!report/p_estimation.png